extends layout

block content
  table(data-toggle-column='last', style='background-color:#212529 !important').footable.table-dark.table
    thead
      tr
        th Name
        th.text-center Viewers
        th(data-breakpoints='all', data-title='Client ID')
        th(data-breakpoints='all', data-title='Data Usage')
        th(data-breakpoints='all', data-title='Video')
        th(data-breakpoints='all', data-title='Audio')
        th(data-breakpoints='all', data-title='Start Time')
    tbody
      each apps in api
        each stream in apps
          tr
            td
              a(href='/'+stream.publisher.app).text-white= stream.publisher.app + ' '
              if stream.publisher.stream
                i.fas.fa-lock.text-dark
            td.text-center
              i.fas.fa-users
              span= ' ' + Object.keys(stream.subscribers).length
            td= stream.publisher.clientId
            td= ((stream.publisher.bytes / 1024) / 1024).toFixed(2) + ' MB'
            td= stream.publisher.video.width + ' x ' + stream.publisher.video.height + ' @ ' + stream.publisher.video.fps + ' fps'
            td= stream.publisher.audio.codec + ' ('+ stream.publisher.audio.profile +') ' + ' @ ' + stream.publisher.audio.samplerate + ' Hz'
            td= stream.publisher.connectCreated
    
  a(data-toggle="collapse" href="#howtostream" aria-expanded="false" aria-controls="collapseExample").btn.btn-custom1 Setup Stream
  div.collapse.mt-2#howtostream
    div.card.card-block
      b OBS (Open Broadcaster Software)
      ol 
        li Open OBS
        li Go to Settings
        li Go to the Stream tab in Settings
        li Select "Custom Streaming Server" in the droplist
        li Enter this as the URL: 
          code rtmp://#{domain}/[name]
        li (optional) Fill out the stream key if you want a password
        li Enter any name, it was be used to identify your streams
        li Start Stream
      i
        | Afterwards you'll find your stream location at 
        b http://#{domain}/[name]
        |. It will also be shown on this page above. (Spaces are allowed)
  
